body {
  display: block;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* NOTE: Start of Header */
a {
  color: seashell;
  text-decoration: underline;
}

ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin: 0 20px;
}

.header {
  display: flex;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  height: 69px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

/* NOTE: Start of Body Css Section 1*/

#content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
}

#mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.mission-text {
  position: absolute;
  background-color: black;
  width: 1200px;
}

.mission-text h2,
.mission-text h4 {
  display: flex;
  justify-content: center;
}

/* NOTE: Start of Section 2 */

#tea-month {
  width: 1000px;
  margin: 50px auto;
}

.tea-text {
  text-align: center;
}

.tea-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tea-images img {
  width: 300px;
  height: 200px;
}

.berryblitz h4,
.spicedrum h4,
.donut h4,
.myrtle h4,
.bedford h4 {
  margin: 10px auto;
}

.berryblitz,
.spicedrum,
.donut,
.myrtle,
.bedford {
  margin: 15px 15px;
  text-align: center;
}

/* NOTE: Start of Section 3 */

#locations {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.content-locations {
  display: block;
}

.location-heading h2 {
  margin: 15px auto;
  text-align: center;
}

.location-text {
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.downtown,
.e-bayside,
.oakdale {
  background-color: black;
  width: 320px;
  opacity: 1;
  margin: 0px 20px;
}

.downtown ul,
.e-bayside ul,
.oakdale ul {
  display: block;
}

.downtown li,
.e-bayside li,
.oakdale li {
  margin: 40px auto;
}

/* NOTE: Footer */

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 75px;
}

.footer-content {
  height: 200px;
  margin-bottom: 50px;
}

.footer-info,
.footer-head {
  text-align: center;
}


.footer-info h5 {
  margin: 40px 15px;
}

.copyright {
  margin: 30px 20px;
}
